#Vim rollbacks
*.~
*~

# The directory Mix will write compiled artifacts to.
derp/_build/

# If you run "mix test --cover", coverage assets end up here.
derp/cover/

# The directory Mix downloads your dependencies sources to.
derp/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
derp/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
derp/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
derp/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
derp-*.tar

# Ignore assets that are produced by build tools.
derp/priv/static/assets/

# Ignore digested assets cache.
derp/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
derp/npm-debug.log
derp/assets/node_modules/

smart_contract/build

# LaTeX files
*.fls
*.blg
*.log
*.bcf
*.bbl
*.aux
*.synctex*
*.log
*.run.xml
*.pdf
*.out
*.fdb*
*.toc
